.stversions
.stignore
clipse/tmp_files
clipse/clipboard_history.json
gtk-3.0/bookmarks
misc/backup-logs
mpd/playlists/
mpd/database
mpd/sticker.sql
restic/backup.conf
restic/passwd
restic/passwd-file
systemd/user/default.target.wants
systemd/user/timers.target.wants
zoxide/
zsh/histfile
