gtk-3.0/bookmarks
micro/backups/
micro/buffers/
misc/backup-logs
mpd/playlists/
mpd/database
mpd/sticker.sql
ncmpcpp/error.log
qtile/__pycache__/
qtile/modules/__pycache__/
qutebrowser/__pycache__/
restic/backup.conf
restic/passwd
restic/passwd-file
zoxide/
zsh/histfile
