[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Exec=env GTK_THEME=Adwaita libreoffice %U
MimeType=application/vnd.oasis.opendocument.text-flat-xml;application/vnd.oasis.opendocument.spreadsheet-flat-xml;application/vnd.oasis.opendocument.graphics-flat-xml;application/vnd.oasis.opendocument.presentation-flat-xml;
Name=LibreOffice XSLT based filters
GenericName=XSLT based filters
GenericName[en]=XSLT based filters
NoDisplay=true
StartupNotify=true
X-GIO-NoFuse=true
X-KDE-Protocols=file,http,webdav,webdavs
